<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='../static/css/Quicksand.css' rel='stylesheet' type='text/css'>
<link href='../static/css/OpenSans.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static/js/menu_jquery.js"></script>
</head>
<body>
	<div class="header">	
      <div class="container"> 
  	     <div class="logo">
			<h1><a href="index.vm">CatFish</a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
			<li><a href="/index/register">Register</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
					  <div id="loginBox">                
						  <form id="loginForm">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">Email Address</label>
			                          <input type="text" name="email" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">Password</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="Sign in">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
			            	</fieldset>
			                 <span><a href="#">Forgot your password?</a></span>
						   </form>
				        </div>
			      </div>
			  </li>
		   </ul>
	     </div>
		 <div class="clearfix"></div>
		</div>
	</div>
	<div class="banner">
		<div class="container">
			<div class="span_1_of_1">
			    <h2>Photos, illustrations by<br> Creatives all over the world.</h2>
			    <div class="search">
			      <ul class="nav1">
		            <li id="search">
						<form action="" method="get">
							<input type="text" name="search_text" id="search_text" placeholder="Search"/>
							<input type="button" name="search_button" id="search_button">
						</form>
					</li>
					<li id="options">
						<a href="#">All Images</a>
						<ul class="subnav">
							<li><a href="#">Photography</a></li>
							<li><a href="#">Illustrations</a></li>
							<li><a href="#">Vector</a></li>
						</ul>
					</li>
	              </ul>
	            </div>
			</div>
		</div>
	</div>
	<div class="grid_1">
		<h3>Cat             LOVE             Fish</h3>
		<div class="col-md-2 col_1">
			<h4>Gym</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/g1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/g2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/g3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/g4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/g5.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>Food</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/f1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic9.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/f2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/f3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/f4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>Wedding</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/w1.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic15.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/w2.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/w3.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/w4.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<h4>People</h4>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic20.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic21.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic22.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic23.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="col-md-2 col_1">
			<img src="../static/images/pic24.jpg" class="img-responsive" alt=""/>
		</div>
		<div class="clearfix"> </div>
	</div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
	<div class="grid_2">
		<div class="container"> 
			<div class="col-md-3 col_2">
				<h3>Stock Photo<br>Categories</h3>
			</div>
			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="/index/stock">Abstract</a></li>
			            <li><a href="/index/stock">Animals/Wildlife</a></li>
			            <li><a href="/index/stock">The Arts</a></li>
			            <li><a href="/index/stock">Backgrounds/Textures</a></li>
			            <li><a href="/index/stock">Beauty/Fashion</a></li>
			            <li><a href="/index/stock">Buildings/Landmarks</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="/index/stock">Business/Finance</a></li>
			            <li><a href="/index/stock">Celebrities</a></li>
			            <li><a href="/index/stock">Editorial</a></li>
			            <li><a href="/index/stock">Education</a></li>
			            <li><a href="/index/stock">Food and Drink</a></li>
			            <li><a href="/index/stock">Healthcare/Medical</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="/index/stock">Holidays</a></li>
			            <li><a href="/index/stock">Illustrations/Clip-Art</a></li>
			            <li><a href="/index/stock">Industrial</a></li>
			            <li><a href="/index/stock">Interiors</a></li>
			            <li><a href="/index/stock">Miscellaneous</a></li>
			            <li><a href="/index/stock">Model Released Only</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="/index/stock">Nature</a></li>
			            <li><a href="/index/stock">Objects</a></li>
			            <li><a href="/index/stock">Parks/Outdoor</a></li>
			            <li><a href="/index/stock">People</a></li>
			            <li><a href="/index/stock">Religion</a></li>
			            <li><a href="/index/stock">Science</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="support.vm">Support</a></li>
			<li><a href="/index/adout">About Us</a></li>
			<li><a href="faq.vm">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2016 CatLoveFish </p>
	  </div>
	</div>
</body>
</html>		