<!DOCTYPE HTML>
<html>
<head>
<title>Single</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Photo-Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='../static/css/Quicksand.css' rel='stylesheet' type='text/css'>
<link href='../static/css/OpenSans.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
<script src="../static./js/menu_jquery.js"></script>
</head>
<body>
	<div class="header">	
      <div class="container"> 
  	     <div class="logo">
			<h1><a href="/index">CatFish</a></h1>
		 </div>
		 <div class="top_right">
		   <ul>
			<li><a href="/index/register">Register</a></li>|
			<li class="login" >
				 <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
					  <div id="loginBox">                
						  <form id="loginForm">
			                <fieldset id="body">
			                	<fieldset>
			                          <label for="email">Email Address</label>
			                          <input type="text" name="email" id="email">
			                    </fieldset>
			                    <fieldset>
			                            <label for="password">Password</label>
			                            <input type="password" name="password" id="password">
			                     </fieldset>
			                    <input type="submit" id="login" value="Sign in">
			                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
			            	</fieldset>
			                 <span><a href="#">Forgot your password?</a></span>
						   </form>
				        </div>
			      </div>
			  </li>
		   </ul>
	     </div>
		 <div class="clearfix"></div>
		</div>
	</div>
	<div class="single">
		<div class="container">
		   <div class="single_box1">
			 <div class="col-sm-5 single_left">
				<img src="images/single.jpg" class="img-responsive" alt=""/>
			 </div>
			 <div class="col-sm-7 col_6">
				<ul class="size">
					<h3>Size</h3>
					<li><a href="#">S</a></li>
					<li><a href="#">M</a></li>
					<li><a href="#">L</a></li>
					<li><a href="#">XL</a></li>
					<li><a href="#">2XL</a></li>
					<li><a href="#">3XL</a></li>
				</ul>
				<a class="btn_3" href="price.vm">Download this Photo</a>
				<p class="movie_option"><strong>Photo : </strong>5487695478</p>
				<p class="movie_option"><strong>Upload Date : </strong>July 02, 2015</p>
			</div>
			<div class="clearfix"> </div>
		  </div>
		   <h4 class="tag_head">Keywords</h4>
	         <ul class="tags_links">
				<li><a href="#">People</a></li>
				<li><a href="#">City</a></li>
				<li><a href="#">Walking</a></li>
				<li><a href="#">Modern</a></li>
				<li><a href="#">Computer</a></li>
				<li><a href="#">Business</a></li>
				<li><a href="#">Tree</a></li>
				<li><a href="#">Motion</a></li>
				<li><a href="#">Gym</a></li>
				<li><a href="#">Men</a></li>
				<li><a href="#">Fashion</a></li>
				<li><a href="#">Industrial</a></li>
				<li><a href="#">Interior</a></li>
				<li><a href="#">Real Estate</a></li>
				<li><a href="#">Food</a></li>
		        <li><a href="#">Restaurants</a></li>
				<li><a href="#">Society</a></li>
				<li><a href="#">Traveller</a></li>
				<li><a href="#">Mountain</a></li>
				<li><a href="#">Sitting</a></li>
				<li><a href="#">Discovery</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Resting</a></li>
				<li><a href="#">Blue</a></li>
				<li><a href="#">France</a></li>
				<li><a href="#">Architecture</a></li>
				<li><a href="#">Europe</a></li>
				<li><a href="#">Building</a></li>
			 </ul>
			<div class="tags">
	    	<h4 class="tag_head">Similar Images</h4>
	         <ul class="tags_images">
				<li><a href="#"><img src="images/pic40.jpg" class="img-responsive" alt=""/></a></li>
				<li><a href="#"><img src="images/pic41.jpg" class="img-responsive" alt=""/></a></li>
				<li><a href="#"><img src="images/pic42.jpg" class="img-responsive" alt=""/></a></li>
				<li><a href="#"><img src="images/pic43.jpg" class="img-responsive" alt=""/></a></li>
				<li class="last"><a href="#"><img src="images/pic39.jpg" class="img-responsive" alt=""/></a></li>
				<div class="clearfix"> </div>
			 </ul>
			</div>
	    </div>
	</div>
	<div class="grid_2">
		<div class="container"> 
			<div class="col-md-3 col_2">
				<h3>Stock Photo<br>Categories</h3>
			</div>
			<div class="col-md-9 col_5">
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.vm">Abstract</a></li>
			            <li><a href="stock.vm">Animals/Wildlife</a></li>
			            <li><a href="stock.vm">The Arts</a></li>
			            <li><a href="stock.vm">Backgrounds/Textures</a></li>
			            <li><a href="stock.vm">Beauty/Fashion</a></li>
			            <li><a href="stock.vm">Buildings/Landmarks</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.vm">Business/Finance</a></li>
			            <li><a href="stock.vm">Celebrities</a></li>
			            <li><a href="stock.vm">Editorial</a></li>
			            <li><a href="stock.vm">Education</a></li>
			            <li><a href="stock.vm">Food and Drink</a></li>
			            <li><a href="stock.vm">Healthcare/Medical</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.vm">Holidays</a></li>
			            <li><a href="stock.vm">Illustrations/Clip-Art</a></li>
			            <li><a href="stock.vm">Industrial</a></li>
			            <li><a href="stock.vm">Interiors</a></li>
			            <li><a href="stock.vm">Miscellaneous</a></li>
			            <li><a href="stock.vm">Model Released Only</a></li>
		            </ul>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<ul class="list1">
					    <li><a href="stock.vm">Nature</a></li>
			            <li><a href="stock.vm">Objects</a></li>
			            <li><a href="stock.vm">Parks/Outdoor</a></li>
			            <li><a href="stock.vm">People</a></li>
			            <li><a href="stock.vm">Religion</a></li>
			            <li><a href="stock.vm">Science</a></li>
		            </ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="grid_3">
	  <div class="container">
	  	 <ul id="footer-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Royalty Free License</a></li>
			<li><a href="#">Extended License</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="support.vm">Support</a></li>
			<li><a href="/index/about">About Us</a></li>
			<li><a href="faq.vm">FAQ</a></li>
			<li><a href="#">Categories</a></li>
         </ul>
         <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
	  </div>
	</div>
</body>
</html>		